@use "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";

@import "assets/layout/styles/layout/layout.scss";

$gutter: 1rem;
$autocomplete-dropdown-background: transparent !default;

.p-iconfield .p-autocomplete-input:not(:last-child) {
  padding-inline-end: calc((0.75rem * 2) + var(1rem));
}

.p-slider {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  background: var(--ground-background);
}

.ym-marker {
  position: relative;
  transform: translate(0px, -12px); // центрируем
  pointer-events: auto;
}

.ym-marker__circle {
  width: 24px;
  height: 24px;
}

.ym-marker__circle svg {
  width: 100%;
  height: 100%;
  display: block;
}

.p-inputtext:disabled {
  cursor: not-allowed !important;
}

.p-disabled,
.p-disabled * {
  cursor: not-allowed !important;
}

.p-disabled,
.p-disabled {
  cursor: not-allowed !important;
}

.slider-container {
  background: var(--p-slider-track-background);
  height: var(--p-slider-track-size);
  width: 100%;
  position: fixed;
}

.p-button-map.p-togglebutton.p-togglebutton-checked {
  box-shadow: none;
}

.p-button-map.p-togglebutton-checked .p-togglebutton-content {
  background: transparent;
  box-shadow: none;
}

.icon-only-toggle {
  .p-togglebutton-content {
    flex: none;

    &::before {
      content: none !important;
      padding-inline-start: 0;
      padding-inline-end: 0;
      gap: 0;
    }

    .p-togglebutton-label {
      display: none;
    }

  }

  padding: 0;
  line-height: 0;

}

.slider-timeline .p-drawer-header {
  padding: 0 !important;
  // margin-left: 4px;
  position: relative;
  margin-right: 2px;
  z-index: 1105;
  pointer-events: all;
}



:root {
  font-family: "Poppins", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  --font-family: "Poppins", sans-serif;
  --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --pin-color: #F44336;
}

gmp-advanced-marker {
  outline: none !important;
}

.p-megamenu {
  position: relative;
  overflow: visible !important;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  outline: none !important;
}

.marker-pin {
  align-items: center;
  background-color: #4CAF50;
  color: #4CAF50;
  display: flex;
  height: 0;
  justify-content: center;
  left: 0;
  position: relative;
  top: 0;
  transition: transform 0.3s ease-in;
  width: 0;
  z-index: 2;
}

.marker-pin:before {
  background-image: radial-gradient(ellipse 50% 100%, rgba(0, 0, 0, 0.1), transparent);
  border-radius: 50%;
  bottom: -8px;
  content: "";
  height: 16px;
  position: absolute;
  transition: transform 0.3s ease-in;
  width: 32px;
}

.marker-pin:after {
  background-color: inherit;
  background-color: currentColor;
  border-radius: 2px;
  bottom: 0;
  content: "";
  height: 34px;
  left: -2px;
  opacity: 1;
  position: absolute;
  transition: transform 0.3s ease-in, opacity 0.3s linear;
  width: 4px;
}

.marker-label {
  -webkit-text-fill-color: #fff;
  align-items: center;
  background-color: inherit;
  border-radius: 50%;
  bottom: 0;
  color: var(--button-text-color, var(--text-inverted-color));
  display: flex;
  flex-direction: column;
  height: 54px;
  justify-content: center;
  left: 0;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  -webkit-user-select: none;
  user-select: none;
  width: 54px;
}

.marker-label:empty:after {
  animation: marker-pulse-animation 0.5s ease-out 0.1s both;
  background-color: var(--ground-background);
  border-radius: 50%;
  content: "";
  display: block;
  height: 18px;
  width: 18px;
}

.marker-pin.pinned {
  transform: translate3d(0, 16px, 0);
}

.marker-pin.pinned:before {
  visibility: hidden;
}

.marker-pin.pinned:after {
  opacity: 0;
  transform: translate3d(0, -12px, 0);
}

.marker-pin.moving {
  transform: translate3d(0, -8px, 0);
}

.marker-pin.moving:before {
  transform: translate3d(0, 4px, 0) scale(1.4);
}

@keyframes marker-pulse-animation {
  0% {
    transform: translate3d(0, 33%, 0);
  }

  20% {
    transform: translate3d(0, 35%, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@media screen and (max-width: 640px) {
  .marker-pin:before {
    height: 12px;
    top: -6px;
    width: 24px;
  }

  .marker-pin:after {
    height: 26px;
    width: 4px;
  }

  .marker-label {
    height: 48px;
    width: 48px;
  }

  .marker-label:empty:after {
    height: 12px;
    width: 12px;
  }

  .marker-pin.pinned {
    transform: translate3d(0, 12px, 0);
  }
}

.menu-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #007bff;
  z-index: 999;
  transition: transform 0.3s ease, width 0.3s ease;
}

.p-table-list {
  border: 1px solid var(--p-textarea-border-color);
  border-radius: var(--p-textarea-border-radius);
  background: var(--p-textarea-background);
  color: var(--p-fileupload-color);
}

.fixed-size-image {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  object-position: center;
}

.material-icons-outlined {
  font-weight: normal;
  font-size: 19px;
}

.material-icons-outlined.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

:root {
  --p-autocomplete-dropdown-background: transparent;
  --p-autocomplete-dropdown-active-background: transparent;
  --p-autocomplete-dropdown-hover-background: transparent;
}


.has-error-container {
  position: relative;
  margin-bottom: 2px;
}

.error-message {
  display: block;
  color: var(--p-red-400);
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0;
  transition: opacity 0.2s ease, height 0.2s ease;
}

.has-error-container .error-message {
  opacity: 1;
}

.p-field .error-message {
  order: 1;
  margin-top: 0.25rem;
}

.p-datatable .p-datatable-inline-filter .p-multiselect,
.p-datatable .p-datatable-inline-filter .p-dropdown,
.p-datatable .p-datatable-inline-filter .p-listbox {
  flex: 1 1 auto !important;
  width: 100% !important;
  min-width: 0 !important;
  display: block !important;
}

@layer primeng {
  * {
    box-sizing: border-box;
  }

  .p-component {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    font-weight: normal;
  }
}

body {
  overflow: hidden;
}

.layout-content {
  overflow: auto;
}

.dialog-panel .p-dialog-content {
  margin: 0.3rem;
}

.p-fileupload-content .card {
  min-width: 268px;
  max-height: 328px;
}

.map-dialog-panel {
  max-height: calc(100% - 48px);
  margin: 24px;
  padding: 0;
  background: var(--p-dialog-background);
  box-shadow: var(--mat-dialog-container-elevation-shadow, 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12));
  border: none;
  border-radius: 3.125rem;
}

.map-dialog-panel .p-dialog-content {
  padding: 0;
  border-radius: 20px;
  background: var(--p-dialog-background);
  height: 100%;
}

@media screen and (max-width: 640px) {

  .dialog-panel {
    height: 100vh;
    max-height: 100%;
    margin: 0;
    border-radius: 0;
  }

  .map-dialog-panel {
    max-height: 100%;
    margin: 0;
    width: 100vw !important;
    border-radius: 0;
  }

  .map-dialog-panel .p-dialog-content {
    border-radius: 0;
  }

  .map-dialog-close-button {
    top: 0;
    right: 60px;
  }

  .speed-dial-map-button {
    background: transparent;
  }


  .map-dialog-panel.p-dialog {
    width: 100vw !important;
  }
}

.map-config-button {
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: var(--p-dialog-color);
  background: var(--p-dialog-background);
  text-align: center;
  top: 50%;
  left: 0;
  margin-top: -1.5rem;
  border-top-right-radius: var(--p-button-border-radius);
  border-bottom-right-radius: var(--p-button-border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: background-color var(--transition-duration);
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}


.map-config-button i {
  font-size: 1rem;
  line-height: inherit;
  transform: rotate(0deg);
  transition: transform 1s;
}

.c-map-dialog_sidebar {
  width: 0;
  position: relative;
  background: var(--p-dialog-background);
}

.sidebar-active {
  width: 520px;
}

@media (max-width: 991px) {
  .c-map-dialog_sidebar {
    width: 0;
  }

  .sidebar-active {
    width: 100%;
  }
}


.layout-sidebar {
  z-index: 1101;
}

.p-virtualscroller-content {
  background: var(--ground-background);
}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
  padding: 0.7rem 0.5rem;
}


.p-tree-node-content {
  padding: 0.5rem 0.5rem;
}

.p-drawer-header .closeButton {
  margin-left: auto;
}

.p-drawer-close-button {
  margin-left: auto;
}

.p-error {
  color: var(--p-red-400);
}



.layout-drawer {
  &.p-drawer {
    width: 25rem;

    .p-drawer-content {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}


.p-tag-icon,
.p-tag-value,
.p-tag-icon.pi {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.config-panel-colors>div {
  justify-content: flex-start;
  padding-top: .5rem;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.config-panel-colors>div button {
  border: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  outline-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 1px;
}

.config-panel-colors>div button.active-color {
  outline-color: var(--primary-color)
}

.p-autocomplete .p-autocomplete-multiple-container {
  padding: 0.375rem 0.75rem;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  outline: none;
  outline-offset: 2px;
  box-shadow: none;
}

.p-treeselect.p-treeselect-chip .p-treeselect-label-container .p-treeselect-token {
  border-radius: 16px;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  border-radius: 16px;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  border-radius: 16px;
}

.p-speeddial-button.p-button.p-button-icon-only {
  width: 4rem;
  height: 4rem;
}

.p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
  font-size: 1.3rem;
}

.p-dialog .p-dialog-content {
  background: transparent;
}

.p-tooltip .p-tooltip-text {
  padding: 0.5rem 0.75rem;
}

.p-tree .p-tree-container .p-treenode:focus>.p-treenode-content {
  outline: none;
  box-shadow: none;
}

.p-inputgroup>.p-component,
.p-inputgroup>.p-element,
.p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext,
.p-inputgroup>.p-float-label>.p-component {
  border-radius: 0;
  margin: 0;
}

.p-inputgroup>.p-component+.p-inputgroup-addon,
.p-inputgroup>.p-element+.p-inputgroup-addon,
.p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext+.p-inputgroup-addon,
.p-inputgroup>.p-float-label>.p-component+.p-inputgroup-addon {
  border-left: 0 none;
}

.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,
.p-inputgroup input:first-child,
.p-inputgroup>.p-inputwrapper:first-child>.p-component,
.p-inputgroup>.p-inputwrapper:first-child>.p-component>.p-inputtext {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p-inputgroup .p-float-label:first-child input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p-inputgroup-addon:last-child,
.p-inputgroup button:last-child,
.p-inputgroup input:last-child,
.p-inputgroup>.p-inputwrapper:last-child>.p-component,
.p-inputgroup>.p-inputwrapper:last-child>.p-component>.p-inputtext {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.p-slider .p-slider-handle:focus {
  outline: 1px solid transparent;
}

.p-datepicker table td>span:focus {
  outline: 1px solid transparent;
}

.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
  outline: 1px solid transparent;
}

.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
  outline: 1px solid transparent;
}


mgl-map {
  height: 100%;
  width: 100%;
}


.p-button.p-button-outlined {
  border-color: var(--primary-200);
  color: inherit !important;
}

.p-button:disabled {
  cursor: not-allowed !important;
  pointer-events: auto;
}

.p-dropdown.p-disabled {
  cursor: not-allowed !important;
  ;
}

.p-disabled {
  cursor: not-allowed !important;
  pointer-events: initial !important;
  ;
}

.p-disabled,
.p-disabled * {
  cursor: not-allowed !important;
}

.p-selectbutton .p-button.p-highlight {
  background: #f1f5f9;
  border-color: #f1f5f9;
}

.p-selectbutton .p-button {
  background: #f1f5f9;
  border: 1px solid #f1f5f9;
}

.layout-dark .text-primary {
  color: var(--primary-color-text) !important;
}

.layout-dark {
  --surface-200: --surface-500;

  .layout-config-button:hover {
    background: var(--primary-600);
  }
}

.layout-dark .p-toolbar .p-button.p-button-text {
  color: #ffffff !important;
}


.layout-dark {
  .p-button.p-button-outlined {
    border-color: var(--primary-200);
    color: #ffffff !important;
  }

  .text-primary {
    color: var(--primary-color-text) !important;
  }

  .p-toolbar .text-primary {
    color: var(--primary-color-text) !important;
  }


  .p-button.p-button-link {
    color: #fff !important;
  }

  .p-dialog-content .text-primary {
    color: #fff !important;
  }
}


.layout-map-overlay-active .layout-map-container .layout-map-sidebar {
  z-index: 99;
  left: 0;
  width: 33rem;
  height: 100vh;
  background: var(--ground-background);
  opacity: 1;
  visibility: visible
}


.layout-map-overlay-active .layout-map-content-wrapper {
  margin-left: 33rem;
  position: relative;
  height: 100%;
  right: 0;
  width: calc(100% - 33rem);
  height: 100%;
  opacity: 1;
  background: transparent;

}


.layout-map-sidebar {
  z-index: 99;
  left: 0;
  width: 0;
  height: 100vh;
  opacity: 0;
  visibility: hidden
}

.layout-map-content-wrapper {
  margin-left: 0;
  position: relative;
  height: 100%;
  right: 0;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 767px) {
  .layout-map-overlay-active .layout-map-container .layout-map-sidebar {
    width: 100%;
    opacity: 1;
  }


}

.mapboxgl-popup-content {
  padding: 0;
}

.mapboxgl-popup {
  z-index: 2;
}

.infobox-wrapper-icon-close {
  position: absolute;
  display: block;
  font-size: 14px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.infobox-wrapper {
  display: flex;
  width: 381px;
}

.infobox-wrapper-description {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: normal;
  gap: 5px;
}

.infobox-wrapper-img {
  object-fit: cover;
  width: 130px;
  max-width: 130px;
  height: 107px;
  cursor: pointer;
  object-position: center;
  border-radius: 8px 0px 0px 0px;
}

.infobox-wrapper .infobox-wrapper-title,
.infobox-wrapper-cluster .infobox-wrapper-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.p-button .p-badge {
  margin-bottom: 1rem;
}


label.ng-invalid.ng-dirty {
  color: var(--p-inputtext-invalid-border-color);
}

small.ng-invalid.ng-dirty {
  color: var(--p-inputtext-invalid-border-color);
}

.mapboxgl-popup {
  min-width: 381px;
  max-width: 381px;
}

.mapboxgl-popup-content {
  border-radius: 4px !important;
  border-top-left-radius: 8px !important;
}

.layout-content-wrapper {
  padding-top: 5rem;
}

.layout-content-wrapper .layout-content {
  height: calc(100vh - 10rem);
}

.layout-content-wrapper {
  padding: 0rem !important;
}

.layout-content-wrapper .layout-content .layout-content-inner {
  display: flex;
  flex-direction: column;
  height: 100%
}



.custombar1 .p-scrollpanel-bar {
  background-color: var(--primary-300);
  opacity: 1;
  transition: background-color .2s;
}

.p-scrollpanel.custombar2 .p-scrollpanel-bar {
  background-color: var(--surface-300);
  border-radius: 0;
  opacity: 1;
  transition: background-color .2s;
}

.c-header_toolbar .p-toolbar {
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.header-toolbar .p-toolbar {
  padding: 0;
  border: none;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 0.5rem;
  border-radius: 0;
}

.page_header-box {
  height: 120px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .20);
  position: relative;
  z-index: 100;
}

.layout-sidebar {
  position: fixed;
  // top: 120px;
  left: 0;
  width: 18rem;
  background: var(--menu-bg);
  border-right: var(--sidebar-border);
  box-shadow: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  // position: relative;
}

.header-toolbar.mat-toolbar {
  border-top: 1px solid #e2e8f0;
  color: var(--onheader-hex);
  height: 60px;
  padding-left: 16px;
  padding-right: 16px
}

.header-toolbar .p-toolbar {
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
}

.header-toolbar .p-toolbar {
  padding: 0;
  border-top: 1px solid var(--p-content-border-color);
  border-bottom: 1px solid var(--p-content-border-color);
  height: 60px;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 0.5rem;
  border-radius: 0;
}

// .layout-container.layout-horizontal .layout-menu {
//   background: var(--horizontal-menu-background);
// }


// .layout-container.layout-horizontal .layout-primary-menu {
//   background: var(--horizontal-menu-background);
// }



// .layout-container.layout-horizontal .layout-sidebar {
//   background: var(--horizontal-menu-background);
// }

// .layout-container.layout-horizontal .layout-sidebar .layout-menu ul a .layout-menuitem-icon {
//   background: var(--horizontal-menu-background);
//   color: var(--horizontal-menu-color);
// }

// .layout-container.layout-horizontal .layout-sidebar .layout-menu ul a .layout-menuitem-text {
//   background: var(--horizontal-menu-background);
//   color: var(--horizontal-menu-color);
// }



//layout-menuitem-text


// .layout-container.layout-horizontal .layout-sidebar .layout-primary-menu ul a .layout-menuitem-icon {
//   background: var(--horizontal-menu-background);
//   color: var(--horizontal-menu-color);
// }

// .layout-container.layout-horizontal .layout-sidebar .layout-primary-menu ul a .layout-menuitem-text {
//   background: var(--horizontal-menu-background);
//   color: var(--horizontal-menu-color);
// }



@media screen and (min-width: 992px) {
  .layout-container.layout-horizontal .layout-sidebar {
    height: 60px;
  }
}


@media screen and (min-width: 992px) {
  .layout-container.layout-horizontal .layout-topbar .layout-topbar-menu-section {
    width: calc(100% - 250px);
  }
}


.layout-sidebar .sidebar-header .app-logo .app-logo-single {
  display: none;
}


.layout-topbar .topbar-start {
  display: flex;
  align-items: center;
  padding: 0 1.15rem 0 17.15rem;
}

@media screen and (max-width: 991px) {
  .layout-container .layout-topbar .topbar-start {
    padding-left: 1.15rem;
  }
}


@media screen and (min-width: 992px) {
  .layout-container.layout-horizontal .layout-topbar .topbar-start {
    display: none;
  }
}


@media screen and (min-width: 992px) {
  .layout-container.layout-horizontal .sidebar-header .app-logo .app-logo-single {
    display: inline;
  }
}


@media screen and (min-width: 992px) {
  .layout-container.layout-reveal .layout-sidebar .sidebar-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 0.8rem;
  }
}


.p-button.p-button-map,
.p-button-group.p-button-map>.p-button,
.p-splitbutton.p-button-map>.p-button {
  color: var(--p-dialog-color);
  background: var(--p-dialog-background);
  border: 1px solid var(--p-surface-border);
}

.p-button.p-button-map:not(:disabled):hover,
.p-button-group.p-button-map>.p-button:not(:disabled):hover,
.p-splitbutton.p-button-map>.p-button:not(:disabled):hover {
  background: var(--map-button-hover-color);
  color: var(--p-dialog-color);
  border-color: var(--p-surface-border);
}

.p-button.p-button-map:not(:disabled):focus,
.p-button-group.p-button-map>.p-button:not(:disabled):focus,
.p-splitbutton.p-button-map>.p-button:not(:disabled):focus {
  box-shadow: none;
}

.p-button.p-button-map:not(:disabled):active,
.p-button-group.p-button-map>.p-button:not(:disabled):active,
.p-splitbutton.p-button-map>.p-button:not(:disabled):active {
  background: var(--map-button-hover-color);
  color: var(--p-dialog-color);
  border-color: var(--p-content-border-color);
}

.p-button.p-button-map.p-button-outlined,
.p-button-group.p-button-map>.p-button.p-button-outlined,
.p-splitbutton.p-button-map>.p-button.p-button-outlined {
  background-color: transparent;
  color: var(--p-content-border-color);
  border: 1px solid;
}

.p-button.p-button-map.p-button-outlined:not(:disabled):hover,
.p-button-group.p-button-map>.p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-map>.p-button.p-button-outlined:not(:disabled):hover {
  background: var(--p-surface-700);
  color: var(--p-surface-700);
  border: 1px solid;

}

.p-button.p-button-map.p-button-outlined:not(:disabled):active,
.p-button-group.p-button-map>.p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-map>.p-button.p-button-outlined:not(:disabled):active {
  background: var(--p-surface-700);
  color: var(--p-surface-700);
  border: 1px solid;
}

.p-button.p-button-map.p-button-text,
.p-button-group.p-button-map>.p-button.p-button-text,
.p-splitbutton.p-button-map>.p-button.p-button-text {
  background-color: transparent;
  color: var(--p-content-border-color);
  border-color: transparent;
}

.p-button.p-button-map.p-button-text:not(:disabled):hover,
.p-button-group.p-button-map>.p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-map>.p-button.p-button-text:not(:disabled):hover {
  background: var(--p-surface-700);
  border-color: transparent;
  color: var(--p-content-border-color);
}

.p-button.p-button-map.p-button-text:not(:disabled):active,
.p-button-group.p-button-map>.p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-map>.p-button.p-button-text:not(:disabled):active {
  background: var(--surface-hover);
  border-color: transparent;
  color: var(--p-content-border-color);
}

.layout-content-wrapper {
  padding: 2rem;
}

.layout-content-wrapper .layout-content .layout-content-inner .layout-map-container {
  padding: 0 !important;
}

.p-float-label label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  margin-top: -.5rem;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
}

.p-float-label label {
  line-height: 0.9;
}

.p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label {
  font-size: 12px;
  background: #fff;
  padding-right: 4px;
  padding-left: 4px;
  top: 0.2rem;
  box-shadow: none;
  color: #5A6794 !important;
}

.p-speeddial-fixed-button {
  position: fixed;
  border-radius: 50% !important;
  z-index: 101;
  box-shadow: var(--p-button-raised-shadow);
  gap: 0 !important;
}

:host ::ng-deep {
  .p-speeddial-direction-up {
    left: calc(50% - 2rem);
    bottom: 0;
  }

  .p-speeddial-direction-down {
    left: calc(50% - 2rem);
    top: 0;
  }

  .p-speeddial-direction-left {
    right: 0;
    top: calc(50% - 2rem);
  }

  .p-speeddial-direction-right {
    left: 0;
    top: calc(50% - 2rem);
  }
}



::ng-deep .hotel-search-result-map-dialog_panel {


  .p-dialog-content {
    padding: 0;
    margin: 24px;
    height: calc(100% - 48px);
    overflow: visible;
  }

  .mdc-linear-progress__bar-inner {
    border-color: #5A6794;
  }



  .h21-hotel-card_marks-wrapper {
    margin-right: -16px;
  }

  .marker {
    cursor: pointer;
    padding: 0;
  }

  .formgroup-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
  }

  .formgroup-inline .field,
  .formgroup-inline .field-checkbox,
  .formgroup-inline .field-radiobutton {
    margin-right: 1rem
  }

  .formgroup-inline .field>label,
  .formgroup-inline .field-checkbox>label,
  .formgroup-inline .field-radiobutton>label {
    margin-right: .5rem;
    margin-bottom: 0
  }

  .field-checkbox,
  .field-radiobutton {
    margin-bottom: 1rem;
    display: flex;
    align-items: center
  }

  .field-checkbox>label,
  .field-radiobutton>label {
    margin-left: .5rem;
    line-height: 1
  }

}

:root {
  --scrollbar-track: var(--ground-background);
  --scrollbar-thumb: var(--p-toolbar-border-color);
  --scrollbar-thumb-hover: #fff;
  --scrollbar-width: 1px;
}

* {
  scrollbar-width: thick;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-width);
  border: calc(var(--scrollbar-width) / 10) solid var(--page-background);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}